h1 {
  font-size: 60px;
  margin-bottom: -1px;
  color: #393e46;
}
h2 {
  font-size: 22px;
  color: #596e79;
  margin-left: 10px;
  margin-bottom: 30px;
}

form {
  position: fixed;
  top: 20px;

  right: 360px;
  width: 450px;
  font-size: 20px;
  color: #393e46;
}

button {
  position: fixed;
  top: 22px;
  font-size: 17px;
  right: 355px;
  color: #ffffff;
  background-color: #218838;
  transition: all 250ms ease-in-out;
}
button:hover {
  font-size: 18px;
}
footer {
  text-align: center;
}
.container {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  max-width: 55%;
  border-radius: 20px;
  border: solid #596e79;
}

#current-temperature {
  font-size: 80px;

  color: #393e46;
  margin-left: 40px;
}
.today-weather {
  font-size: 27px;
  color: #596e79;
  margin-left: 30px;
  font-weight: 500;
  margin-top: -20px;
}

.tempDivider {
  font-size: 30px;
}

.units {
  font-size: 28px;
  text-decoration: none;
  vertical-align: top;
}

.wind,
.humidity,
.weekday {
  font-size: 20px;
  color: #393e46;
  font-weight: 500;
}

.wind,
.wind-speed,
.humidity,
.humidity-percent,
.current-weather {
  text-align: center;
}

.wind-speed,
.humidity-percent,
.weekday-maximum,
.weekday-minimum {
  color: #596e79;
  font-weight: 400;
}

.weekday-forcast {
  text-align: center;
  margin-top: 30px;
}
.weekday-weather-emoji {
  height: 45px;
  transition: all 250ms ease-in-out;
  margin-bottom: 50px;
}
.weekday-weather-emoji:hover {
  height: 50px;

  cursor: pointer;
}

#current-weather-icon {
  height: 170px;
  text-align: center;
  margin-left: 0 auto;
  transition: all 250ms ease-in-out;
}
#current-weather-icon:hover {
  height: 155px;
  cursor: pointer;
}
